.random-planet.jumbotron {
	width: 100%;
	padding: 3rem;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	position: relative;
}

.random-planet .planet-image {
	width: 150px;
	height: auto;
	display: block;
	margin-right: 30px;
	border-radius: 10px;
}

.random-planet-table {
	margin-top: 10px;
}

.random-planet-table li {
	padding: 5px 0;
	border-bottom: 1px solid rgba(255, 255, 255, .1);
}

.random-planet-table li span {
	margin-left: 20px;
}

.random-planet-table li:last-child {
	border: none;
}

