.app-list.list-group {
	width: 100%;
	margin-bottom: 32px;
	min-height: 100px;
	background-color: #4E5D6C;
	position: relative;
}

.list-group-item {
	transition: .2s ease-in-out;
	text-transform: capitalize;
}

.list-group-item span {
	text-align: right;
	color: rgba(255,255,255, .3);
	float: right;
	font-size: 12px;
}

.list-group-item:hover {
	cursor: pointer;
}